.ChessTile__tile_b {
    background-color: #779556;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ChessTile__tile_w {
    background-color: #ebecd0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}